* {
  z-index: 2 !important;
}

.container {
  position: relative;
  margin-top: 50px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  display: flex;
  flex-direction: column;
  z-index: 2 !important;
  background-color: #fff !important;
  border-radius: 15px;
  width: 30% !important;
  height: 30%;
  box-shadow: 10px 10px 72px -11px rgba(0, 0, 0, 0.29) !important;
}

.card-title {
  text-align: center !important;
  color: #000;
}

.card-text {
  text-align: center;
}

.card-img {
  background-color: #bbe6ff;
  border-radius: 10px 10px 50px 50px !important;
  height: 500px;
  z-index: 1 !important;
}

.card-top {
  position: relative;
  height: 500px;
}

.card-content {
  position: relative;
  padding: 35px;
}

.card-subInfo {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

.card-subInfo p {
  color: #505050;
}

.black-bold {
  color: #000;
  size: 20px;
}

.btn-card {
  background-color: #bbe6ff;
  position: absolute;
  size: 30px;
  padding: 25px;
  border: 0px;
  border-radius: 15px;
  z-index: 3 !important;
}

.heart-icon {
  right: 0px;
}

.fa-star {
  color: yellow;
  margin-right: 10px;
  border: 1px solid;
}

.fa-lg {
  font-size: 1.5em !important;
}

.fa,
.fas {
  border: 0px;
}

.card-stars {
  position: relative;
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 600px) {
  * {
    z-index: 2 !important;
  }

  .container {
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: flex;
    flex-direction: column;
    z-index: 2 !important;
    background-color: #fff !important;
    border-radius: 2.5rem;
    width: 95% !important;
    height: 85vh !important;
    box-shadow: 10px 10px 72px -11px rgba(0, 0, 0, 0.29) !important;
  }

  .card-title {
    text-align: center !important;
    color: #000;
  }

  .card-text {
    text-align: center;
  }

  .card-img {
    position: relative;
    height: 100%;
    background-color: #bbe6ff;
    border-radius: 4rem 4rem 50px 50px !important;
    z-index: 1 !important;
  }

  .card-top {
    position: relative;
    height: 50%;
  }

  .card-content {
    position: relative;
    /* padding: 35px; */
  }

  .card-subInfo {
    /* padding: 10px; */
    text-align: center;
  }

  .card-subInfo p {
    color: #505050;
  }

  .black-bold {
    color: #000;
    size: 20px;
  }

  .btn-card {
    background-color: #bbe6ff;
    position: absolute;
    top: 0%;
    size: 30px;
    padding: 25px;
    border: 0px;
    border-radius: 1rem;
    z-index: 3 !important;
  }

  .heart-icon {
    right: 0px;
  }

 /* .fa-times{
    color: #fff;
  }
  
  .fa-heart {
    color: #fff;
  } */

  .fa-star {
    color: yellow;
    margin-right: 10px;
    border: 0px solid;
  }

  .fa-lg {
    font-size: 1.5em !important;
  }

  .card-stars {
    position: relative;
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
    max-height: 750px;
  }

  .card-top {
    position: relative;
    height: 50%;
  }

  .card-img {
    position: relative;
    height: 100%;
    background-color: #bbe6ff;
    border-radius: 4rem 4rem 50px 50px !important;
    z-index: 1 !important;
  }
} */